<mat-card class="example-card card" *ngIf="typeUser==2 || typeUser==1">
    <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
        <mat-card-header>
            <mat-card-title>Agregar compañia</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="75px">
                <mat-grid-tile>
                    <mat-form-field class="matformfield">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre" />
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="matformfield">
                        <mat-label>Propietario</mat-label>
                        <input matInput formControlName="nombrePropietario" />
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="matformfield">
                        <mat-label>Correo</mat-label>
                        <input matInput formControlName="correo" />
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="matformfield">
                        <mat-label>Direccion</mat-label>
                        <input matInput formControlName="direccion" />
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="matformfield">
                        <mat-label>Telefono</mat-label>
                        <input matInput formControlName="telefono" />
                    </mat-form-field>
                    <mat-form-field class="matformfield">
                        <mat-label>RTN</mat-label>
                        <input matInput formControlName="rtn" />
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-label style="margin-right: 15px">Estado</mat-label>
                    <mat-radio-group formControlName="is_activated">
                        <mat-label>Activo</mat-label>
                        <mat-radio-button value="true"></mat-radio-button>
                        <mat-label>Inactivo</mat-label>
                        <mat-radio-button value="false"></mat-radio-button>
                    </mat-radio-group>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="toSave" mat-button type="submit">Guardar</button
            ><mat-icon class="material-icons color_green">save</mat-icon>
        </mat-card-actions>
        <mat-card-footer *ngIf="toSave">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </form>
</mat-card>

<!-- Tabla de compa;ias -->
<mat-form-field class="buscar" *ngIf="typeUser==2 || typeUser==1">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="filtrar($event)" placeholder="buscar" />
</mat-form-field>
<div *ngIf="!dataCargada && (typeUser==2 || typeUser==1)">
    <mat-spinner style="margin: 0 auto"></mat-spinner>
</div>
<table
    *ngIf="dataCargada && (typeUser==2 || typeUser==1)"
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 data-table"
>
    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
            <button
                (click)="edit(element)"
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a home icon"
            >
                <mat-icon>update</mat-icon>
            </button>
            <button
                (click)="delete(element)"
                mat-icon-button
                color="warn"
                aria-label="Example icon button with a heart icon"
            >
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
    </ng-container>

    <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
    </ng-container>
    <ng-container matColumnDef="nombrePropietario">
        <th mat-header-cell *matHeaderCellDef>Propietario</th>
        <td mat-cell *matCellDef="let element">
            {{element.nombrePropietario}}
        </td>
    </ng-container>
    <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef>Telefono</th>
        <td mat-cell *matCellDef="let element">{{element.telefono}}</td>
    </ng-container>
    <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef>Direccion</th>
        <td mat-cell *matCellDef="let element">{{element.direccion}}</td>
    </ng-container>
    <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef>Correo</th>
        <td mat-cell *matCellDef="let element">{{element.correo}}</td>
    </ng-container>
    <ng-container matColumnDef="rtn">
        <th mat-header-cell *matHeaderCellDef>RTN</th>
        <td mat-cell *matCellDef="let element">{{element.rtn}}</td>
    </ng-container>
    <ng-container matColumnDef="is_activated">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">
            {{element.is_activated?'Activo':'Inactivo'}}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
