.form-field-margin{
    margin-left: 20px;
    width: 35%;
    }
    .mat-elevation-z8 {
        overflow-x: auto;
    }
    .data-table {
        width: 85%;
    
        margin-left: 20px;
        margin-right: 20px;
    }