.mat-elevation-z8 {
    overflow-x: auto;
}
.data-table {
    width: 85%;

    margin-left: 20px;
    margin-right: 20px;
}

.buscar {
    width: 45%;
    /* margin: 20px; */
    margin-right: 20px;
    margin-left: 20px;
}

mat-grid-tile.mat-grid-tile-content {
    align-content: flex-start;
}
.mat-grid-tile-content {
    align-content: flex-start;
}
mat-grid-tile-content {
    align-content: flex-start;
}
.matformfield {
    width: 100%;
    /* margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px; */
    margin: 15px 15px 15px 15px;
}
.material-icons.color_green {
    color: #74ff74;
}

.successful {
    background: rgb(65, 252, 134);
    color: red;
}

.green-snackbar button {
    background-color: rgb(65, 252, 134);
    color: white;
    border: none;
}

.red-snackbar {
    background: #f44336;
    color: white;
}

.red-snackbar button {
    background-color: #f44336;
    color: white !important;
    border: none;
}
.productos {
    margin: 20px;
}

.mdc-button ~ .mdc-button {
    margin-left: 10px;
}
